
.ChennaiImage{
    margin-left: 400px;
    width: 650px;
    height: 400px;
}

.KerlaImage{
    margin-left: 400px;
    width: 650px;
    height: 400px;
}
.BangaloreImage{
    margin-left: 400px;
    width: 650px;
    height: 400px;
}