body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 247, 245);
}
.Nav{
  color: white;
  background-color: rgb(51, 51, 112);
  display: flex;
  justify-content: center;
}
.Navbar{
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 15px;
}
.logo{
  margin-left: 20px;
  height: 28px;
}
.NavContant{
  list-style: none;
  display: flex;
  gap: 30px;
}
.NavContant a{
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
.newicons{
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.Banner{
  margin-left: 100px;
  margin-top: 50px;
  width: -100px;
  height: -500px;
}
